#news-modal.modal
  %section
    %article
      %h4 Nyheter från Craft Academy
      %h2
        = "Väx med Craft Academy".html_safe
      %p.copy--left
        %strong
          Vi vet att det är ett stort engagemang att påbörja vägen till en ny kariärr.
          En så kallad Bootcamp är en av många vägar - men det kostar, både ekonomiskt och tidsmässigt. 
          Det är ett enormt beslut och bör inte fattas lätt. 
      %p.copy--left
        Vi erbjuder olika möjligheter till betalning av kursavgift. Bland annat uppskjuten betalning.
        Oavsett vilken betalningsmodell du väljer måste du börja någonstans vi gör det lättare för dig genom att erbjuda   
      %p.copy--left   
        Läs mer om 
        = link_to 'Introduction to programming', 'https://learn.craftacademy.co/p/introduction-to-programming-2021', target: '_blank'
        och anmäl dig online.
      %p.copy--left
        Kursomgångar startar med 10 veckors mellanrum men du får tillgång till digitalt utbildningsmaterial så fort du anmäler dig. 
      %p.copy--left
        Framstiden står skriven i kod. Din resa mot en ny karriärr börjar med Craft Academy. 
