%section
  .container
    %article
      %h3 Vår mission
      %p.copy--left 
        %strong Digitaliseringen förändrar inte bara vårt sätt att göra affärer, den förändrar också vårt sätt att arbeta och vilken kompetens vi som professionella behöver ha. Nomads of Code (tidigare känd som Craft Academy) har drivit en utbildnings- och utbildningstjänst som syftar till att spela en aktiv roll i att lösa den nuvarande bristen på kompetens på marknaden. Elever från hela världen och med olika bakgrunder har fått hjälp av Craft Academy att omskola och gå över till mjukvaruutvecklingsbranschen.
      %p.copy--left Inför vår expansion till andra nordiska städer siktar vi på att knyta nära band med andra inkubatorer och start-up acceleratorer för att kunna vara en naturlig kompetenspartner men även för att hjälpa våra studenter att knyta värdefulla kontakter och bygga nätverk.