- page ||= :default

%section.hero-splash-white
  .container
    .centered-row
      %article
        %h4.leader Bli en del av oss
        %h2{style: 'white-space: nowrap;'} 16 VECKOR - 12 DELTAGARE - 3 COACHER
        %h4.leader{style: "font-weight: bolder;"} Nu med en extra vecka av karriärcoaching
        %br
        %ul
          %li
            %h4
              Front-end, back-end, devops, molntjänster (Amazon Web Services), betalningstjänster (Klarna, Stripe), och mycket mer.
          %li
            %h4
              4 veckors förberedande deltidsstudier in webbteknologier och arbetssätt.
          %li
            %h4
              12 veckors utmaningsbaserad utbildning på heltid (och då menar vi verkligen heltid).
          %li
            %h4
              Fullt remote med möjlighet att sitta på centralt belägna co-working platser i Göteborg, Stockholm och Malmö.
          %li
            %h4
              Små grupper med upp till 12 deltagare
          %li
            %h4
              Samma erfarna coacher genom hela utbildningen
          %li
            %h4
              Allt kursmaterial tillgänglig digitalt
          %li
            %h4
              Utbildning inom efterfrågade ämnen som agilitet och testdriven utveckling
          %li
            %h4
              Moderna språk, bibliotek och ramverk som HTML5, JavaScript, Ruby on Rails, NodeJS, React och React Native, Jest, Cypress, med mera...
          %li
            %h4
              Externa föreläsningar om aktuella ämnen
          %li
            %h4
              Mentorstöd och support efter avslutad utbildning
        - unless page == :payment
          = link_to 'Betalningsplaner', '/payment', locals: {page: :payment}, class: 'button button--vertical'
