- description 'Learn coding and web development in three months. Nomads is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others. We offer training fully - remote bootcamp around the world by distance.'
%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_1.jpg')});"}
  .container
    .centered-row
      %h1
        = 'News'.html_safe 
      %h4.leader Stay up to date with what's happening in the community.
%section
  .container
    .centered-row
      %h4.leader Gothenburg 31 maj 2022
      %h2 Adaptive Labs consolidates operations under common brand.
      %p{style: "text-align: left !important;"}
        %strong
          Since its inception in September 2021 Adaptive Labs, a Gothenburg based IT services operation and the principal of Craft Academy training programs, has helped businesses around Europe and North America in adopting technology to support their core business, and help them increase efficiency, productivity and profitability. Digitalization is however not only changing the way we do business, it also changes the way we work and what skills we as professionals need to have. In order to address the current shortage of skill on the market, Adaptive Labs has operated a training and education service under the Craft Academy brand. Learners from around the world and with various backgrounds, has been helped by Craft Academy to re-skill and transition into the software development industry. 
      %p{style: "text-align: left !important;"}
        The company’s experience shows that training and education is closely connected to consultancy, and complements the portfolio of services.. In order to enhance the customer experience and streamline the company’s marketing, the separate brands associated with the respective business areas, will be combined into one; Nomads Of Code. 
      %p{style: "text-align: left !important;"}
        The new brand reflects in a better way the global reach of the company services as well as the focus on remote work and delivery. We believe that our ols, as well as new customers, will appreciate the change and benefit from a clearer communication from us. 
      %p{style: "text-align: left !important;"}
        %strong
          The Craft Academy Team can be reached at info[at]craftacademy.se


= partial :'course_dates'
= partial :'apply'