#news-modal.modal
  %section
    %article
      %h4 News from Craft Academy - Nomads Of Code
      %h2
        = "We consolidate operations under common brand.".html_safe
      %p.copy--left
        %strong
          Since its inception in September 2021 Adaptive Labs, a Gothenburg based IT services operation, has helped businesses around Europe and North America in adopting technology to support their core business, and help them increase efficiency, productivity and profitability. Digitalization is however not only changing the way we do business, it also changes the way we work and what skills we as professionals need to have. In order to address the current shortage of skill on the market, Adaptive Labs has operated a training and education service under the Craft Academy brand. Learners from around the world and with various backgrounds, has been helped by Craft Academy to re-skill and transition into the software development industry.
      %p.copy--left
        The company’s experience shows that training and education is closely connected to consultancy, and complements the portfolio of services.. In order to enhance the customer experience and streamline the company’s marketing, the separate brands associated with the respective business areas, will be combined into one; Nomads Of Code.
      %p.copy--left    
        The new brand reflects in a better way the global reach of the company services as well as the focus on remote work and delivery. We believe that our ols, as well as new customers, will appreciate the change and benefit from a clearer communication from us. 
      %p.copy--left
        The future is written in code, and your journey toward a new career starts with Nomads Of Code.  
